<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title> {% if page.title %} {{ page.title }} | {% endif %} EdTechConf </title>
  <meta name="description" content="EdTechConf brings together like-minded schools, teachers and thought leaders for the purpose of equipping, inspiring and training teachers in the use of educational technology" />
  {% if page.meta-description %}
    <meta name="description" content="{{ page.meta-description }}" />
  {% endif %}
  <meta name="author" content="@timkeller">


  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <link rel="stylesheet" href="/css/fonts.css" />
  <link rel="stylesheet" href="/css/app.css" />
  <style type="text/css"></style><link type="image/png" rel="shortcut icon" href="/favicon.ico">
</head>
<body>
  {% include header.html %}
  
  <div class="container">
    <section class="intro event">
      <h1>
        <span>{{ page.title }}</span> 
        <span class="light">{{ page.categories | first | capitalize }}</span>
      </h1>
    </section>
  </div>
  

    <div class="container dark">
      <div class="row">
        <div class="span6">
          <h2>When</h2>
          <p>{{ page.date_start | date: "%d %h %Y %H:%M" }} &mdash; {{ page.date_end | date: "%d %h %Y %H:%M" }}</p>
        </div>
        <div class="pull-right">
          <a href="https://docs.google.com/spreadsheet/viewform?formkey={{ page.googleform }}" class="btn btn-primary btn-large" target="_blank">Register Now</a>
          <br><br>
          <small>{{ page.cost }} per delegate</small>
        </div>
      </div>
      <h2>About</h2>
      {{ content }}   

      <div class="row">
        <div class="span6">
        <h2>Location</h2>
        <p>{{ page.location }}</p>
        <iframe width="390" height="380" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q={{ page.address }}&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear={{ page.address }}&amp;z=15&amp;output=embed"></iframe>
        <br><br>
        </div>
        <div class="span4">
          <h2>Registration</h2>
          <p><b>Cost:</b><br>{{ page.cost }} per delegate.</p>
          <p><b>EFT details:</b><br>{{ page.pay_eft }}<br></p>
          <p><a href="https://docs.google.com/spreadsheet/viewform?formkey={{ page.googleform }}" class="btn btn-primary btn-large" target="_blank">Reserve your place</a></p>
          <h2>Queries</h2>
          <p>Email <a href="mailto:events@edtechconf.co.za">events@edtechconf.co.za</a></p>
        </div>
      </div>
      
      <h2>Discuss</h2>
      <div class="fb-comments" data-href="http://edtechconf.co.za/{{ page.permalink }}" data-num-posts="2" data-width="820px" data-colorscheme="dark"></div>

      </div>

    <footer>
      {% include footer.html %}
    </footer>

  {% include footer_bits.html %}

</body></html>